<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="communityServer:SDK:configPath" value="C:\src\TessituraDataProcessor\CommunityCoveoDataProcessor\CommunityCoveoDataProcessor\communityServer_SDK.config" />

    <!-- Telligent Settings -->
    <!--<add key="TelligentAPI.Local.ClientId" value="48927696-edb9-4bd6-9fd3-f7383e78e50f" />
    <add key="TelligentAPI.Local.ClientSecret" value="4c25de346c5945b699426c0e0dfec50c9e57ffdf053e47d99e24bbed247c44b2" />
    <add key="TelligentAPI.Local.CommunityBaseUrl" value="http://comm10.tessituranetwork.com" />
    <add key="TelligentAPI.Local.AdminAPIKey" value="e4ahthu72e3vb8" />-->

    <add key="TelligentAPI.Local.ClientId" value="5ea03367-c557-41f2-a027-fa5826db3dd8" />
    <add key="TelligentAPI.Local.ClientSecret" value="13830963e87b49499885ee96a5e1a970e20652e3864f48a08d6e6336b25ea91b" />
    <add key="TelligentAPI.Local.CommunityBaseUrl" value="http://comm10.tessituranetwork.com" />
    <add key="TelligentAPI.Local.AdminAPIKey" value="e4ahthu72e3vb8" />

    <add key="TelligentAPI.QA.ClientId" value="7333f5e3-b222-4769-935c-037ea733a235" />
    <add key="TelligentAPI.QA.ClientSecret" value="27b11b7fb867446b94c4c71dd05842e059d26250fd61416a8ce35dcac11b2bfb" />
    <add key="TelligentAPI.QA.CommunityBaseUrl" value="http://qa.tessituranetwork.com/community" />
    <add key="TelligentAPI.QA.AdminAPIKey" value="f2tkp0lttk6nw" />

    <add key="TelligentAPI.UAT.ClientId" value="d0b8de0b-66fb-45f3-8a43-b2197b65696f" />
    <add key="TelligentAPI.UAT.ClientSecret" value="e6f7ef60eb1043f5aea7fc24960f087c29c3a179a09949b8b24144ef2bb5fcfc" />
    <add key="TelligentAPI.UAT.CommunityBaseUrl" value="http://sitecore.tessituranetwork.com/community" />
    <add key="TelligentAPI.UAT.AdminAPIKey" value="fiikhggfpynr1wxkijcawjg6r" />

    <add key="TelligentAPI.Prod.ClientId" value="9aa4e5c4-e87c-4594-b57b-00b2e5eb4750" />
    <add key="TelligentAPI.Prod.ClientSecret" value="620451b61698415ebc6e6416ed6468f8ad427f95ef1c4994b9f9c5f8729a483c" />
    <add key="TelligentAPI.Prod.CommunityBaseUrl" value="http://prod.tessituranetwork.com/community" />
    
    <add key="TelligentAPI.NewProd.AdminAPIKey" value="bklw8kcsdxto0qcoxywo1m" />
    <add key="TelligentAPI.NewProd.ClientId" value="9aa4e5c4-e87c-4594-b57b-00b2e5eb4750" />
    <add key="TelligentAPI.NewProd.ClientSecret" value="620451b61698415ebc6e6416ed6468f8ad427f95ef1c4994b9f9c5f8729a483c" />
    <add key="TelligentAPI.NewProd.CommunityBaseUrl" value="http://prod.tessituranetwork.com/community" />
    <add key="TelligentAPI.NewProd.AdminAPIKey" value="bklw8kcsdxto0qcoxywo1m" />

    <add key="TelligentAPI.AdminUsername" value="toddlantry3834" />
    <add key="TelligentAPI.Email" value="tlantry@tessituranetwork.com" />
    <add key="TelligentAPI.RestHeader" value= "Rest-User-Token" />
    <add key="TelligentAPI.Target" value="Local" />
    
    <!--Processor Settings-->
    <add key="Processor.Delay" value="10" />


  </appSettings>
</configuration>