<?xml version="1.0" encoding="utf-8" ?>
<communityServerHosts>
  <host name="default" communityServerUrl="http://tessituracommunity9.hq.bluetubeinc.com/">
    <oauth clientId="2ec8fd8a-7dfb-4717-b941-7cfbc97e4396"
           clientSecret="a9be10b19d0d4274ab980a728b80928365c2d8db24344996860bbf6ac61bb4bd"
           callbackUrl="~/oauth.ashx"
           cookieName="evoUser"
           defaultLanguage="en-US"
           anonymousUsername="Anonymous">
      <localAuthentication enabled ="false" membershipAdministrationUsername="admin" userResolver="">

      </localAuthentication>
    </oauth>
    <sso enabled="false" synchronizationCookieName="EvolutionSync" />
    <remoteProxy enabled="true" callbackUrl="~/proxy.ashx" />
  </host>
</communityServerHosts>

